
 
  <div class="bg-white rounded-lg shadow-md p-6 mb-6">
    <h2 class="text-4xl font-bold mb-2 text-center">Articles</h2>
    <p class="text-center">ROR 101 <br>
    Our blog has <%= Article.public_count %> articles and counting!

    </p>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 py-8">
    <% @articles.each do |article| %>
    <% unless article.archived? %>

      <li class="mx-auto max-w-md overflow-hidden rounded-lg bg-white shadow">
      <%= link_to article do %>

      <% if article.image.attached? %>
      <%= image_tag url_for(article.image), class: 'aspect-video w-full object-cover', alt: article.title %>
      
          <% else %>
      <%= image_tag 'https://via.placeholder.com/1000', class: 'aspect-video w-full object-cover', alt: article.title %>
    <% end %>
    
        <div class="p-4">
          <p class="mb-1 text-xs text-primary-800 font-light"> <time><%= article.created_at.strftime("%d %b %Y") %></time></p>
          <h3 class="text-xl font-medium text-gray-900"><%= link_to article.title, article, class: "text-green-500 " %></h3>
          <p class="mt-1 text-gray-500">
          <%= article.body.split[0, 5].join(' ') %>...

          </p>
          <div class="mt-4 flex gap-6">
          <div class="text-xs font-medium text-gray-500 flex items-center">
          <i class="fas fa-eye w-4 h-4 mr-1"></i>
          <span>1.5k</span>
        </div>

        <div class="text-xs font-medium text-gray-500 flex items-center">
          <i class="fas fa-comment w-4 h-4 mr-1"></i>
          <span>25</span>
        </div>

        <div class="text-xs font-medium text-gray-500 flex items-center">
          <i class="fas fa-thumbs-up w-4 h-4 mr-1"></i>
          <span>7</span>
        </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
    <% end %>
      <li class="flex justify-center items-center">
          <%= link_to "New Article", new_article_path, class: "inline-block bg-green-500 text-white px-6 py-2 rounded-full hover:bg-green-600 transition-colors duration-200 text-center" %>
        </li>
    </ul>
   
  </div>
  
  