<div class="flex items-center justify-center">
  <div class="w-full max-w-lg p-6   ">
    <h1 class="text-4xl font-bold text-gray-800 mb-4 leading-none"><%= @article.title %></h1>
    <div class="flex justify-end space-x-4 mt-6">
    <%= link_to edit_article_path(@article), class: "text-gray-600 hover:text-gray-800" do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-600 hover:text-red-800" do %>
      <i class="fas fa-trash"></i>
    <% end %>
    </div>
    <div class="border-b py-3 mb-4">
    <p class="text-lg text-gray-700 leading-relaxed">
    <% if @article.image.attached? %>

    <%= url_for(@article.image) %>
      <%= image_tag @article.image, class: "w-full h-auto rounded-md" %>


    <% else %>
      <%= image_tag 'https://via.placeholder.com/1000', class: 'w-full h-auto rounded-md', alt: @article.title %>
    <% end %>
  </p>
  

    </div>
    <div class="w-full text-gray-600 font-thin italic pt-3 mb-6 text-xs">
      By <strong class="text-gray-700">Zee Mwimash</strong><br>
      <%= @article.created_at.in_time_zone('Africa/Nairobi').strftime("%d %B %Y %I:%M %p EAT") %><br>
      Updated: <%= @article.updated_at.in_time_zone('Africa/Nairobi').strftime("%d %B %Y %I:%M %p EAT") %>
    </div>
    <div class="w-full mx-auto mb-6">
      <p class="text-lg text-gray-700 leading-relaxed"><%= @article.body %></p>
    </div>
    <div class="mt-4 flex gap-6">
    <div class="text-xs font-medium text-gray-500 flex items-center">
    <i class="fas fa-eye w-4 h-4 mr-1"></i>
    <span>1.5k</span>
  </div>
  <div class="text-xs font-medium text-gray-500 flex items-center">
  <i class="fas fa-comment w-4 h-4 mr-1"></i>
  <% if @article.comments.count > 0 %>
    <span><%= pluralize(@article.comments.count, 'Comment') %></span>
  <% else %>
    <span>0</span>
  <% end %>
</div>

    <div class="text-xs font-medium text-gray-500 flex items-center">
    <i class="fas fa-thumbs-up w-4 h-4 mr-1"></i>
          <span>7</span>
  </div>
  </div>
   
  
  <div class="space-y-4">
    <% @article.comments.each do |comment| %>
      <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
        <p class="text-xs text-gray-500 mb-1">
          @<strong class="text-gray-700"><%= comment.commenter %></strong>
        </p>
        <p class="text-xs text-gray-700"><%= comment.body %></p>
      </div>
    <% end %>
    
    </div>
  
    <%= render 'comments/form' %>
   


   
  </div>
</div>
